body {
  background-color: aquamarine;
}

.engaging-text {
  color: black;
  font-family: Calibri SansSerif sans-serif;
  border: 4mm solid crimson;
  border-radius: 2em;
  background-color: crimson;
  cursor: pointer;
  position: center;

  .bottom-skip {
    margin-bottom: 2em;
  }
}